name: Semgrep Scan

on:
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  semgrep:
    name: Semgrep Code Security Check
    runs-on: ubuntu-latest
    container:
      image: semgrep/semgrep:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Semgrep scan
        env:
          SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
        run: semgrep ci
